<script id="NotFoundTemplate" type="x-tmpl-mustache">
	<li class="list-group-item item_not_found" style="margin-top: 10px; text-align: center;">
		<div class="col-xs-12 col-sm-12">
			<span class="text-muted error_show"></span>
		</div>
		<div class="clearfix"></div>
	</li>
</script>
<script id="MainTemplate" type="x-tmpl-mustache">
{{#response}}
	<li class="list-group-item item" tabindex="{{vk_id}}">
		<div class="col-xs-12 col-sm-3">
			<input type="text" value="{{vk_id}}" class="vk_id" hidden>	
			<img 
				src="../image/avatar_icon.png" 
				alt="{{name}} {{sname}}" 
				class="img-responsive img-circle id_{{vk_id}} user_photo" 
				onclick="window.open('https://vk.com/id{{vk_id}}');" 
			/>	
		</div>
		<div class="col-xs-12 col-sm-9">
			<span class="name">{{name}} {{sname}}</span>
			<br/>	
			<span class="text-muted c-info">{{number_phone}}</span>
		</div>
		<div class="clearfix"></div>
	</li>
{{/response}}
</script>
<script id="AddNewNumberTemplate" type="x-tmpl-mustache">
<li class="list-group-item item_not_found" style="margin-top: 10px; text-align: center;">
	<div class="col-xs-12 col-sm-12">
		<span class="text-muted"> <b>Добавлено</b>
		</span>
	</div>
	<div class="clearfix"></div>
</li>
<li class="list-group-item">
	<div class="col-xs-12 col-sm-3">
		<input type="text" value="{{vk_id}}" class="vk_id" hidden>
		<img 
			src="../image/avatar_icon.png" 
			alt="{{name}} {{sname}}" 
			class="img-responsive img-circle id_{{vk_id}} user_photo" 
			onclick="window.open('https://vk.com/id{{vk_id}}');" 
		/>
	</div>
	<div class="col-xs-12 col-sm-9">
		<span class="name">{{name}} {{sname}}</span>
		<br/>
		<span class="text-muted c-info">{{number_phone}}</span>
	</div>
	<div class="clearfix"></div>
</li>
</script>
<script id="AddNewNumberErrorTemplate" type="x-tmpl-mustache">
<li class="list-group-item item_not_found" style="margin-top: 10px;">
	<div class="col-xs-12 col-sm-12">
		<span class="text-muted">
			<p>
				При добавлении контакта произошла ошибка. Возможно вы ввели не коректные данные. Проверьте всё и повторите попытку.
			</p>
			<p>
				*Обратите внимание, ссылка на страницу ВК должна быть полная.
			</p>
			<p>
				Например: <b>https://vk.com/durov</b>
			</p>
		</span>
	</div>
	<div class="clearfix"></div>
</li>
</script>